/* Reset margin and padding for body and html */
html, body {
    margin: 0;
    padding: 0;
}

.mainHeader {
    background-color: burlywood;
    display: block; /* Ensure the element is a block-level element */
    width: 100%; /* Set the desired width */
    margin: auto; /* Center the element horizontally */
    text-align: center; /* Center the text horizontally */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Container for the music track that holds title, artist, year, album cover, and the score. */
.containerMusicTrack {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: blanchedalmond;
    box-sizing: border-box 
}

/* Container for the album cover */
.containerAlbumCover {
    overflow: auto;
}

/* Container for the Show/Hide button */
.containerButton {
    display: flex;
    align-items: center;
}

/* Container for the inner buttons Start Scrolling, Stop Scrolling, Restart. They appear after the Show button is clicked */
.containerInnerButtons {
    display: flex;
}

/* Button for the Show/Hide button and the inner buttons */
.buttonShow {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

/* Buttons for Start, Stop, and Restart */
.buttonsInner {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

/* Container for the music score. Creates a window that can be scrolled and allows functionality
    for the scroll buttons. */
.containerIFrame {
    flex-direction: column;
    width: 1000px;
    height: 725px;
    margin: auto;
    display: none;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: auto; /* Ensure scroll bars appear */
}

#warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    z-index: 1000;
}

#close-btn {
    background-color: white;
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#countdown-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}