/* Reset margin and padding for body and html */
html,
body {
    margin: 0;
    padding: 0;
}

.mainHeader {
    background-color: burlywood;
    display: block;
    /* Ensure the element is a block-level element */
    width: 100%;
    /* Set the desired width */
    height: 50px;
    /* Set the desired height */
    margin: 0;
    /* Center the element horizontally */
    text-align: left;
    /* Make the text to the left */
    padding-left: 10px;
    /* Add padding to the left */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

/* Container for the music track that holds title, artist, year, album cover, and the score. */
.containerMusicTrack {
    padding: 20px;
    background-color: blanchedalmond;
    box-sizing: border-box
}

/* Container for the album cover */
.containerAlbumCover {
    overflow: auto;
}

/* Container for the Show/Hide button */
.containerButton {
    display: flex;
    align-items: center;
}

/* Container for the inner buttons Start Scrolling, Stop Scrolling, Restart. They appear after the Show button is clicked */
.containerInnerButtons {
    display: flex;
}

/* Button for the Show/Hide button and the inner buttons */
.buttonShow {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

/* Buttons for Start, Stop, and Restart */
.buttonsInner {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

/* Container for the music score. Creates a window that can be scrolled and allows functionality
    for the scroll buttons. */
.containerIFrame {
    flex-direction: column;
    width: 1000px;
    height: 725px;
    margin: auto;
    display: none;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: auto;
    /* Ensure scroll bars appear */
}

#warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    z-index: 1000;
}

#close-btn {
    background-color: white;
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#countdown-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    /* tooltip can overlap other elements */
    z-index: 2;
    /* Ensure the tooltip is above the iframe */
    bottom: 125%;
    /* Position the tooltip above the button */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.mainNav {
    background-color: #333;
    overflow: hidden;
}

.mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.mainNav ul li {
    float: left;
}

.mainNav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainNav ul li a:hover {
    background-color: #111;
}