.customHeader {
    background-color: burlywood;
    display: block; /* Ensure the element is a block-level element */
    width: 100%; /* Set the desired width */
    margin: 0 auto; /* Center the element horizontally */
    text-align: center; /* Center the text horizontally */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.tabContainer img { /* Make images responsive only in myContainer */
    max-width: 100%;
    border: 5px solid black;
    height: auto;
    display: block;
    margin-bottom: 10px auto;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.innerButtonContainer {
    display: flex;
    gap: 10px;
}

.guitarTab {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: blanchedalmond;
    box-sizing: border-box 
}

.albumContainer {
    /* Ensures the contents, the album image, does not overflow the container */
    overflow: auto;
}

.customIFrame {
    width: 100%;
    height: 600px;
    margin: auto;
    display: none;
    border: 5px solid black;
    box-sizing: border-box;
    overflow: auto; /* Ensure scroll bars appear */
}

.tabButton, .scrollButton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}